/*NORMAL CONTACT*/
	#contactanos
	{
	height: 100vh;
	padding: 10vh 0 0 0;
	/*border: solid black 2px;*/
	background-color: rgb(207, 207, 207);
	}
	#contactanos h1
	{
	text-align: center;
	}
	#fd
	{
	position: absolute;
	margin: 5vh 0 0 35vw;
	width: 25vh;
	}
	#sd
	{
	position: absolute;
	margin: 5vh 0 0 50vw;
	width: 25vh;
	}
	.h2
	{
	text-align: center;
	margin: 0 0 3vh 0;
	}
	.img
	{
	margin: 0 0 0 1vw;
	width: 10vw;
	}
	#contactanos a
	{
	text-decoration: none;
	color: rgb(0, 0, 0);
	}

/*RESPONSIVE CONTACT*/
	@media screen and (max-width: 900px)
	{
		#contactanos h1
		{
		font-size: 5vw;
		text-align: center;
		}
		#fd
		{
		position: absolute;
		margin: 5vh 0 0 25vw;
		width: 20vw;
		height: 25vh;
		/*border: solid black 2px;*/
		}
		#sd
		{
		position: absolute;
		margin: 5vh 0 0 55vw;
		width: 20vw;
		height: 25vh;
		/*border: solid black 2px;*/
		}		
		.h2
		{
		margin: 0;
		font-size: 3.5vw;
		}
		.img
		{
		margin: 1.5vh 0 0 4vw;
		width: 10vw;
		}		
	}
	@media screen and (max-width: 800px)
	{
		#contactanos h1
		{
		font-size: 5vw;
		text-align: center;
		}
		#fd
		{
		position: absolute;
		margin: 5vh 0 0 25vw;
		width: 20vw;
		height: 20vh;
		/*border: solid black 2px;*/
		}
		#sd
		{
		position: absolute;
		margin: 5vh 0 0 55vw;
		width: 20vw;
		height: 20vh;
		/*border: solid black 2px;*/
		}		
		.h2
		{
		margin: 0;
		font-size: 3.5vw;
		}
		.img
		{
		margin: 1.5vh 0 0 4vw;
		width: 10vw;
		}		
	}
	@media screen and (max-width: 600px)
	{
		#contactanos h1
		{
		font-size: 7vw;
		text-align: center;
		}
		#fd
		{
		position: absolute;
		margin: 5vh 0 0 15vw;
		width: 30vw;
		height: 25vh;
		/*border: solid black 2px;*/
		}
		#sd
		{
		position: absolute;
		margin: 5vh 0 0 55vw;
		width: 30vw;
		height: 25vh;
		/*border: solid black 2px;*/
		}		
		.h2
		{
		margin: 0;
		font-size: 5vw;
		}
		.img
		{
		margin: 1.5vh 0 0 7vw;
		width: 15vw;
		}		
	}
	@media screen and (max-width: 400px)
	{
		#contactanos h1
		{
		font-size: 8vw;
		text-align: center;
		}
		#fd
		{
		position: absolute;
		margin: 5vh 0 0 5vw;
		width: 40vw;
		height: 25vh;
		/*border: solid black 2px;*/
		}
		#sd
		{
		position: absolute;
		margin: 5vh 0 0 55vw;
		width: 40vw;
		height: 25vh;
		/*border: solid black 2px;*/
		}		
		.h2
		{
		margin: 0;
		font-size: 6vw;
		}
		.img
		{
		margin: 1.5vh 0 0 7vw;
		width: 25vw;
		}		
	}		