/*NORMAL HEADER*/
	header
	{
	/*border: solid black 2px;*/
	padding: 10vh 0 0 0;
	height: 100vh;
	background-color: rgb(0, 33, 63);
	}
		header h1
		{
		position: absolute;
		margin-top: 35vh;
		/*border: solid black 2px;*/
		width: 50%;
		color: rgb(255, 255, 255);
		font-size: 7vw;
		text-align: center;
		font-family: 'Viga', sans-serif;
		}
		header h2
		{
		position: absolute;
		margin-top: 20vh;
		padding: 10vh 15vw 0 3vw;
		/*border: solid black 2px;*/
		border-left: solid rgb(255, 255, 255) 7px;
		width: 50%;
		height: 40vh;
		color: rgb(255, 255, 255);
		font-size: 3.8vw;
		text-align: center;
		right: 0;
		font-family: serif;
		}
/**/

/*RESPONSIVE HEADER*/
	@media screen and (max-width: 900px)
	{
	}
	@media screen and (max-width: 800px)
	{
		header h1
		{
		font-size: 8vw;
		}
		header h2
		{
		font-size: 4.8vw;
		}	
	}
	@media screen and (max-width: 600px)
	{
		header h1
		{
		font-size: 9vw;
		}
		header h2
		{
		font-size: 5.5vw;
		margin-top: 25vh;
		padding: 5vh 10vw 0 3vw;
		height: 30vh;
		/*border: solid rgb(255, 255, 255) 7px;*/
		border-left: solid rgb(255, 255, 255) 7px;
		}
	}
	@media screen and (max-width: 400px)
	{
		header h1
		{
		font-size: 9vw;
		width: 45%;
		/*border: solid white 2px;*/
		}
		header h2
		{
		font-size: 5.5vw;
		margin-top: 25vh;
		padding: 10vh 8vw 0 3vw;
		height: 30vh;
		/*border: solid rgb(255, 255, 255) 7px;*/
		border-left: solid rgb(255, 255, 255) 7px;
		}		
	}
/**/